<template name="general">
<div class="container">
	<div class="row" style="margin-top: 40px;">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">Standard Operating Procedure</div>
				<div class="list-group">
					<a href="#reservation" class="list-group-item">
						<span class="badge">users</span>
						Reservation
					</a>
					<a href="#payment" class="list-group-item">
						<span class="badge">juliene</span>
						Payment
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<h2 id="standardOperatingProcedure" style="margin-top: 0px;">Standard Operating Procedure</h2>
			<h3 id="reservation">Reservation</h3>
			<ol>
				<li>User landed on the site</li>
				<li>User searched for destination</li>
			</ol>
			<h3 id="payment">Payment</h3>
			<ol>
				<li></li>
			</ol>
		</div>
		<div class="col-sm-3">
			<p>
			</p>
		</div>
	</div>
</div>
</template>