<template name="sopNav">
<a href="#add-user" class="list-group-item"><span class="badge">admins</span>Add User</a>
<a href="#update-user" class="list-group-item"><span class="badge">admins</span>Update User</a>
<a href="#publish-user" class="list-group-item"><span class="badge">admins</span>Publish User</a>
<a href="#reservation" class="list-group-item"><span class="badge">users</span>Reservation</a>
<a href="#payment" class="list-group-item"><span class="badge">finances</span>Payment</a>
<a href="#refund" class="list-group-item"><span class="badge">finances</span>Refund</a>
</template>